section#contact label {
  display: inline-block;
  padding: 10px 5px 5px 0;
  font-weight: bold;
}

section#contact input {
  border-radius: 4px;
}

section#contact input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #8d8d8d;
  resize: vertical;
}

section#contact form input[type=submit], section#contact form input[type=reset] {
  padding: 12px 20px;
  margin: 5px;
  color: white;
  font-size: 14px;
  font-width: bold;
  border: none;
  cursor: pointer;
  float: right;
}

section#contact input[type=submit] {
  background-color: rgb(57, 160, 63);
}

section#contact input[type=reset] {
  background-color: rgb(182, 182, 182);
}